{% extends "layout.html" %}

{% block content %}
    <div class="container">
        <div style="margin-bottom: 10px" class="clearfix">

            <a class="btn btn-success" href="/export/info/">
                <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
                导出信息
            </a>
            <div style="float: right;width: 300px;">
                <form method="get">
                    <div class="input-group">
                        <input type="text" class="form-control" name="q" placeholder="Search for..."
                               value="{{ search_data }}">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>

        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>`
                应答短语
            </div>

            <!-- Table -->
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>姓名</th>
                    <th>发送内容</th>
                    <th>发送时间</th>
                    <th>浏览器类型</th>
                </tr>
                </thead>
                <tbody>
                {% for i in content %}
                    <tr>
                        <th scope="row">{{ i.id }}</th>
                        <td>{{ i.name }}</td>
                        <td>{{ i.content }}</td>
                        <td>{{ i.send_time }}</td>
                        <th>{{ i.browser }}</th>
                        <th>
{#                            <a class="btn btn-primary btn-xs" href="/answer/{{ i.id }}/edit/">编辑</a>#}
                            <a class="btn btn-danger btn-xs" href="/answer/{{ i.id }}/del/">删除</a>
                        </th>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <ul class="pagination">
            {{ page_string }}
        </ul>
    </div>
{% endblock %}